body {
    background-image: url(img/contact_us.jpg);
    background-size: cover;
}

.container {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 55%;
}
.where {
    font-weight: lighter;
}
.topic {
    width: 50%;
}
.data_processing {
    font-weight: lighter;
}
.button {
    margin-top: 5px;
    background: blue;
    color: white;
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-weight: lighter;
    font-size: 20px;
}